<div class="contacts" itemscope itemtype="https://schema.org/Person">
    <h2 class="contacts__title hidden">Connect with Me</h2>
    <ul class="contacts__list">
        <li class="contacts__item">
            <a class="contacts__item-link" href="https://www.linkedin.com/in/kravchuk-vladislav" itemprop="sameAs">LinkedIn</a>
        </li>
        <li class="contacts__item">
            <a class="contacts__item-link" href="https://twitter.com/Vladisl34871443" itemprop="sameAs">Twitter</a>
        </li>
        <li class="contacts__item">
            <a class="contacts__item-link" href="https://github.com/kravchuk21" itemprop="sameAs">GitHub</a>
        </li>
    </ul>
</div>
