<div itemscope itemtype="https://schema.org/Person">
    <h3>Connect with Me</h2>
    <ul>
        <li>
            <a href="https://www.linkedin.com/in/kravchuk-vladislav" itemprop="sameAs">LinkedIn</a>
        </li>
        <li>
            <a href="https://twitter.com/Vladisl34871443" itemprop="sameAs">Twitter</a>
        </li>
        <li>
            <a href="https://github.com/kravchuk21" itemprop="sameAs">GitHub</a>
        </li>
    </ul>
</div>
