.header {
    display: flex;
    margin: 3rem 0;
}

.header__title {
    font-family: "Montserrat", sans-serif;
    color: var(--typography-base);
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    line-height: 3.2rem;
    margin: 0;
    margin-bottom: 1rem;
}

.header__description {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1rem;
    color: var(--typography-base);
    margin: 0;
}
