*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Merriweather", serif;
    color: var(--typography-base);
    margin: 0;
    padding: 0;
}

.hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: 0;
    white-space: nowrap;
    width: 1px;
    z-index: -1000;
    user-select: none;
}

.container {
    max-width: 750px;
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
}
