---
title: "Vladislav Kravchuk"
layout: page.njk
meta:
    title: "Home"
    description: "Vladislav Kravchuk portfolio"
---

<header class="header" itemscope itemtype="http://schema.org/Person">
    <div class="header__left">
        <h1 class="header__title" itemprop="name">Vladislav Kravchuk</h1>
        <p class="header__description" itemprop="jobTitle">Frontend Developer</p>
    </div>
</header>

{% include 'contacts.njk' %}
